<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeLogInModal()"></button>
    </div>
    <h1 class="title">Log In</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click=""></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <p class="text-align-center">
      <a>Forgot Password?</a>
    </p>

    <div class="padding">
      <button class="button button-block" ng-click="logIn()">Log In</button>
    </div>

  </ion-content>

</ion-modal-view>
