<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeSignUpModal()"></button>
    </div>
    <h1 class="title">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click=""></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <p class="text-align-center">
      By creating an account you agree to the
      <a>Terms of Use</a> and
      <a>Privacy Policy</a>
    </p>

    <div class="padding">
      <button class="button button-block" ng-click="signUp()">Sign Up</button>
    </div>

  </ion-content>

</ion-modal-view>
