<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeFollowersModal()"></button>
    </div>
    <h1 class="title">Followers</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click=""></button>
    </div>
  </ion-header-bar>

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="user in followers">
        {{user.get('username')}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-modal-view>
