<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeFollowingModal()"></button>
    </div>
    <h1 class="title">Following</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click=""></button>
    </div>
  </ion-header-bar>

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="user in following">
        {{user.get('username')}}
        <ion-option-button class="button-stable" ng-click="unfollow(user)">
          Unfollow
        </ion-option-button>
      </ion-item>
    </ion-list>


  </ion-content>

</ion-modal-view>
