<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeFriendsModal()"></button>
    </div>
    <h1 class="title">Friends</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logOut()">Log Out</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <a class="item" ng-click="promptForUsername()">Find Friend</a>
      <a class="item" ng-click="openFollowersModal()">Followers</a>
      <a class="item" ng-click="openFollowingModal()">Following</a>
    </div>

  </ion-content>

</ion-modal-view>
