<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeCameraModal()"></button>
    </div>
    <h1 class="title">Camera</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="uploadImage()">Post</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <img src="{{image}}" id="target" width="100%" ng-if="imgURI !== null">

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>
    <h1 class="title" ng-click="takePicture()">Take Picture</h1>
    <div class="buttons">
      <button class="button button-clear"></button>
    </div>
  </ion-footer-bar>

</ion-modal-view>
