<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeProfileModal()"></button>
    </div>
    <h1 class="title" ng-if="slydes.length === 1">{{slydes.length}} Slyde</h1>
    <h1 class="title" ng-if="slydes.length !== 1">{{slydes.length}} Slydes</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-refresh-empty" ng-controller="draw" ng-click="getSlydes(user)"></button>
      <button class="button button-icon ion-ios-plus-empty" ng-controller="draw" ng-click="openDrawModal(user)"></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <img src="{{user.get('post')._url}}" width="100%">

    <div id="slidebox-container">
      <ion-slide-box show-pager="false" ng-if="showSlydes">

        <ion-slide ng-repeat="slyde in slydes | orderBy: '-createdAt'">
          <img ng-src="{{slyde.get('slyde')._url}}" width="100%">
          <div class="slyde-info-container">
            <p>
              <span class="slyde-by">slyde by </span>{{slyde.get('slydeBy')}} - <i class="icon ion-ios-flag" ng-click="reportSlyde(slyde)"></i>
              <span ng-if="showSlydes" class="slyde-time">{{slyde.createdAt | date:'MM/dd/yy @ h:mma'}}</span>
            </p>

          </div>
        </ion-slide>

      </ion-slide-box>
    </div>

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <button class="button button-clear">
        By: <a>{{user.get('username')}}</a>
      </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-more" ng-click="reportUser(user)"></button>
    </div>
  </ion-footer-bar>

</ion-modal-view>
