<ion-view hide-back-button="true">

  <ion-nav-title class="title">Slyde</ion-nav-title>

  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-ios-search" ng-controller="friends" ng-click="openFriendsModal()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-ios-camera" ng-controller="camera" ng-click="openCameraModal()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshGetFollowing()">
    </ion-refresher>

    <div class="list">
      <a class="item" ng-repeat="user in following" ng-controller="profile" ng-click="openProfileModal(user)">{{user.get('username')}}</a>
    </div>

  </ion-content>

</ion-view>
