/*profile.css*/

#slidebox-container {
	position: absolute;
	/*padding-top: 2%;*/
	top: 0;
	left: 0;
	width: 100%;
}

/*slydes*/
.slyde-info-container {
	color: white;
	padding-left: 2%;
	font-size: 18px;
}
.slyde-by {
	color: gray;
}
.slyde-time {
	font-size: 14px;
	color: white;
	position: absolute;
	right: 0;
	padding-right: 2%;
}
