/*slidebox*/

.scroll, .slider {
  height: 100%;
}
.sb-background-color {
  background-color: #e74c3c;
}
.sb-welcome-text {
  font-size: 40px;
  font-weight: normal;
  font-family: helvetica;
  text-align: center;
  color: white;
  padding-top: 50%;
}
